*{
    margin: 0;
    padding: 0px;
}

 body{
    margin: 0;
    padding: 0px;
    background-color: #F3F3F3;
}

/*---Navbar----*/

.navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.icon{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #EEA302;
    flex-grow: 1;
}

.title{
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
    flex-grow: 2;
}

.title p{
    font-size: 1rem;
    color: black;
    font-weight: bold;
    padding-left: 5px;
}

.title span{
    font-size: 0.8rem;
    color:#323233;
    font-style: normal;
}


.list{
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    background-color: #F3F3F3;
    flex-grow: 1;
}

.list button{
    background-color: white;
    border: white;
    outline: none;
}

.list i{
    color: #323233;
}

/*---Main---*/

.main{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 10vh;
    /* border: 1px solid red; */
    flex-direction: column;
    padding: 0 15px;
}

.main .content{
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    
}

.main .content h1{
    box-sizing: border-box;
    padding-bottom: 10px;
}

.main .content h3{
    box-sizing: border-box;
    padding-bottom: 10px;
}


.main .content p{
    box-sizing: border-box;
    padding-bottom: 10px;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color:black;
}


.main .btns{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    margin-bottom: 20px;
}

.btns .btn1{
    position: absolute;
    width: 80px;
    height: 80px;
    border: none;
    left: 0.3rem;
    border-radius: 50%;
    background-color: #EEA302;
}

.btns .btn2{
    position: absolute;
    width: 80px;
    left: 8.5rem;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: #FF3B25 ;
}

.btns .btn3{
    position: absolute;
    left: 16.5rem;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: #80D8DA;
}

.btns a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(20, 18, 18);
    font-style: bold;
    position: absolute;
    top: 1.8rem;
    left: 0.5rem;

}


.main .image{
    position: absolute;
    top: 18rem;
    left: 4rem;
    width: 250px;
    height: 250px;
    /* background-color: red; */
    /* display: flex; */
}

.image img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* justify-content: flex-end; */
}


/* footer */

footer{
    position: absolute;
    box-sizing: border-box;
    top: 38rem;
    display: grid;
    padding: 0 15px;
    grid-template-columns: 50% 50%;
    /* border: 1px solid red; */
    width: 100%;
    padding-bottom: 2rem;
    height: 12rem;

}

.cls1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    box-sizing: border-box;
    padding-top: 8px;
}

.cls2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    box-sizing: border-box;
    padding-top: 12px;
}

.copyright span{
    font-weight: bold;
}

.follow a{
    padding-right: 10px;
}

.follow a i{
    color: #007ACC;
}

.follow h2, .phone h2, .email h2{
    margin-bottom: 0.5rem;
}

.follow, .phone{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.phone{
    padding-top: 6.5px;
}  


/*--Media query----*/

@media only screen and (max-width:700px) and (min-width:450px){
    
    .list{
        display: flex;
        justify-content: flex-end;
        background-color: #F3F3F3;
        flex-grow: 1;
    }

    .main .btns{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0 15px;
        position: relative;
        align-content: space-between;
        margin-bottom: 20px;
        height: 20rem;
    }
    
    .btns .btn1{
        position: relative;
    }
    
    .btns .btn2{
        position: relative ;
        left: 0;
    }
    
    .btns .btn3{
        position: relative;
        left: 0;
    }
    
    .btns a{
        text-decoration: none;
        font-size: 1.3rem;
        color: rgb(20, 18, 18);
        font-style: bold;
        position: absolute;
        top: 1.8rem;
        left: 0.5rem;
    }

    .main .image{
        position: absolute;
        top: 13rem;
        left: 11rem;
        width: 250px;
        height: 250px;
        /* background-color: red; */
        /* display: flex; */
    }
    
    .image img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        /* justify-content: flex-end; */
    }


}

@media only screen and (max-width:374px)
{    
    

    .navbar{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    
    .btns .btn1{
        left: 0.3rem;
    }
    
    .btns .btn2{
        left: 7.5rem;
    }
    
    .btns .btn3{
        left: 14.7rem;
    }

    .main .image{
        position: absolute;
        top: 20rem;
        width: 200px;
        height: 200px;
        left: 4.5rem;
        /* display: flex; */
    }
    
    .image img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* justify-content: flex-end; */
    }

    footer{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        justify-content: center;
    }

    footer .cls1{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }

    .cls1 .phone{
        padding-top: 0;
    }

    .cls1 .email{
        padding-top: 15px;
    }

    footer .cls2{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

    }

    #one {
        position: absolute;
        top:7.3rem;
        left: 11rem;
    }

    #two {
        position: absolute;
        top:7.4rem;
        left: 14rem;
    }

    .cls2 .follow h2{
        margin-left: 2rem;
    }

    .copyright {
        margin-left: 4.5rem;
    }
}