*, body{
    margin: 0;
    padding: 0px;
    background-color: #F3F3F3;
}

/*---Navbar----*/

.navbar{
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: 20px 250px 20px;
    grid-column-gap: 10px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.icon{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #EEA302;
    flex-grow: 1;
}

.title{
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
    flex-grow: 2;
}

.title p{
    font-size: 1rem;
    color: black;
    font-style: bold;
}

.title span{
    font-size: 0.8rem;
    color:#323233;
    font-style: normal;
}


.list{
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    background-color: white;
    flex-grow: 1;
}

.list button{
    background-color: white;
    border: white;
    outline: none;
}

.list i{
    color: #323233;
}



/*----Content----*/
.content{
    box-sizing: border-box;
    /* border: 1px solid black; */
    position: absolute;
    top: 10vh;
    padding: 0 15px;
}

.content h3, .content p{
    margin-top: 0.8rem;
}

.content p{
    font-size: 1rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-right: 1rem;
}

/*---buttons---*/

.btns{
    display: flex;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 100%;
    height: 7rem;
    top: 38.5vh;
    padding: 0 15px;
}

.btn1, .btn2, .btn3{
    position: relative;
    margin-top: 15px;
    width: 80px;
    height: 80px;
    /* border: 1px solid red; */
    border-radius: 50px;
    background-color: #EEA302;
}

.btn2{
    background-color: #FF3B25;
}

.btn3{
    background-color: #80D8DA;
}

.btn1 a{
    position: absolute; 
    top: 35.8%;
    left: 2%;
    text-align: center;
    width: 95%;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    background-color: #EEA302;
    outline: none;
    border: none;
}

.btn2 a{
    position: absolute; 
    top: 35.8%;
    left: 2%;
    text-align: center;
    width: 95%;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-weight: bold;
    background-color: #FF3B25;
    outline: none;
    border: none;
}

.btn3 a{
    position: absolute; 
     top: 35.8%;
    left: 2%;
    text-align: center;
    width: 95%;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-weight: bold;
    background-color: #80D8DA;
    outline: none;
    border: none;
}

/*---Image----*/

.image{
    position: absolute;
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    top: 58vh;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    padding: 0 15px;
}

.image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 21%;
}


/* footer */

footer{
    position: absolute;
    box-sizing: border-box;
    top: 93vh;
    display: grid;
    padding: 0 15px;
    grid-template-columns: 50% 50%;
    /* border: 1px solid red; */
    width: 100%;
    padding-bottom: 15px;

}

.cls1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    box-sizing: border-box;
    padding-top: 8px;
}

.cls2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    box-sizing: border-box;
    padding-top: 12px;
}

.copyright span{
    font-weight: bold;
}

.follow a{
    padding-right: 10px;
}

.follow a i{
    color: #007ACC;
}

.follow h2, .phone h2, .email h2{
    margin-bottom: 0.5rem;
}

.follow, .phone{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.phone{
    padding-top: 6.5px;
}  


/*--Media query----*/

@media only screen and (max-width:374px)
{
    .navbar{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        padding: 15px;
    }

    .image img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        left: 15%;
    }

    footer{
        padding-bottom: 15px;
    }

    .cls1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 12px;
        box-sizing: border-box;
        padding-top: 8px;
    }
    
    .cls2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 12px;
        box-sizing: border-box;
        padding-top: 10px;
    }


}